<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('img/home-bg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>Headless Blog</h1>
          <hr class="small">
          <span class="subheading">A blog powered by Drupal 8, supported by Angular and built using Bootstrap</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div ng-repeat="article in articles">
        <div class="post-preview">
          <a href="{{article.path}}">
            <h2 class="post-title">
              {{article.title}}
            </h2>
          </a>

          <p class="post-meta">Posted on {{article.created}}</p>

            <p class="post-subtitle">
              <p ng-bind-html="article.body"></p>
            </p>
            <p ng-bind-html="article.nothing"></p>
            <hr>

          </div>
        </div>


        <!-- Pager -->
        <ul class="pager">
          <li class="next">
            <a href="#">Older Posts &rarr;</a>
          </li>
        </ul>
      </div>
    </div>
  </div>


  <hr>
